* {
    font-family: 'Press Start 2P';
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-right: 10px;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    align-items: center;
    justify-content: center;
    color: #f5f6fa;
}



canvas {
    /* background-color: #00a8ff; */
    width: 800px;
    height: 800px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.range {
    color: skyblue;
    text-align: left;
}


.btns .btn_open{
    color:skyblue;
    /* text-align-last: center; */
    margin-left: 60px;
}
.btns button{
    margin-left: 60px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.01), 0 1px 3px rgba(0, 0, 0, 0.01);
    color: steelblue;
}